body {
    background-color: cyan;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    padding: 10px;
    border: black solid 3px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo {
    width: 300px;
    height: 300px;
    border: black solid 1px;
}

.content {
    display: grid;
    padding-left: 50px;
}
